body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

#buttons {
    width: 65%;
}

#gifz {
    width: 65%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: stretch;
}
